################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OSDC.DotnetLibraries.General/OSDC.DotnetLibraries.General.DataManagement/obj
/OSDC.DotnetLibraries.General/OSDC.DotnetLibraries.General.DataManagement/bin/Debug/netcoreapp3.1
/OSDC.DotnetLibraries.General/.vs/OSDC.DotnetLibraries.General/v17
/OSDC.DotnetLibraries.General/.vs
/OSDC.DotnetLibraries.General/OSDC.DotnetLibraries.General.DataManagement/bin/Debug/OSDC.DotnetLibraries.General.DataManagement.1.0.0.nupkg
/OSDC.DotnetLibraries.General/OSDC.DotnetLibraries.General.DataManagement/bin/Debug
